@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.Menu-list {
    @include media-breakpoint-down(md) { 
        padding-left: 0;
        list-style: none;

        > li {
            display: inline-block;
        }
        
        > li:not(:last-child) {
            margin-right: rfs-value(8px);
        }
    }
}
